.container{
	margin-bottom: 15px;
}
footer{
	margin-top: 50px;
	background-color: white;
}
.card{
	display: flex;
	border: none;
	align-items: center;
}
a{
	color: black;
	text-decoration: none;
}
hr{
	border-top-color: : #6D6464;
	border-top: 11px;
	border-top-style: solid;
}
.card-documentos{
	display: flex;
	flex: 1 130px;
	padding: 10px  75px 10px 10px;
	flex-direction: column;
	justify-content: space-between;
}
.footer{
	display: flex;
	flex: 1 50px;
	flex-direction: column;
	align-items: center;
	background-color: #71889B;
	padding: 25px 0px 20px 0px;
}
.btn-position{
	width: 100%;
}
.jumbotron{
	background-color: #71889B;
	margin-bottom: 0rem !important;
	border-radius: 0px !important;
}
.icono-direccion{
	width: 5px;
	height: 5px;
	margin-right:25px;
}
.about{
	display: flex;
	flex: 1 50px;
	flex-direction: column;
	align-items: center;
	padding: 25px 0px 25px 0px;
}
.breadcrumb{
	background-color: #343a40 ;
	border-radius: 0px !important;
}
.footer-mar{
	margin-right: 0px !important;
}
.check{
	margin-left: 10px;
	margin-right: 5px;
}
.selecion{
	margin-right: 10px;
}
